@model Actividad4LengProg3.Models.RecintoViewModel

<h2>@ViewData["Action"] Recinto</h2>

<form asp-action="@ViewData["Action"]" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <label asp-for="Codigo"></label>
    <input asp-for="Codigo" class="form-control" />
    <span asp-validation-for="Codigo" class="text-danger"></span>

    <label asp-for="Nombre"></label>
    <input asp-for="Nombre" class="form-control" />
    <span asp-validation-for="Nombre" class="text-danger"></span>

    <label asp-for="Direccion"></label>
    <input asp-for="Direccion" class="form-control" />
    <span asp-validation-for="Direccion" class="text-danger"></span>

    <button type="submit" class="btn btn-success mt-3">Guardar</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
